<div class="view col-md-12">
    <div class="wait-for-measurements" ng-hide="zigBeeNetworks.length">
        <div class="alert alert-warning"> {{'RETRIEVING_ZIGBEE_NETWORKS' }}&nbsp;&nbsp;<i
                class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div ng-show="zigBeeNetworks.length">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="n in zigBeeNetworks">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title network-title"><a href="#"
                                                                                        ng-click="survey(n)"><span
                            ng-visible="n.device">{{n.device}}&nbsp;</span>{{n.extendedPanId}}<span
                            class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a><i
                            class="fa fa-times network-title-controls" ng-click="closeNetwork(n)"></i></h3>
                    </div>
                    <div class="panel-body">
                        <div class="small-chart-area wait-for-data" ng-hide="n.chartGenerated"><i
                                class="fa fa-spinner fa-spin"></i></div>
                        <div class="small-chart-area" id="chart-{{n.id}}"
                             ng-show="n.chartGenerated"></div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-4">{{'RSSI' }}</div>
                            <div class="col-xs-6 col-sm-7 col-md-8">{{n.rssi}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-4">{{'LQI' }}</div>
                            <div class="col-xs-6 col-sm-7 col-md-8">{{n.lqi}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-4">{{'CHANNEL' }}</div>
                            <div class="col-xs-6 col-sm-7 col-md-8">{{n.channel}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-4">{{'PAN_ID' }}</div>
                            <div class="col-xs-6 col-sm-7 col-md-8">{{n.panId}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="n.permitJoin === 'yes'">{{'JOINING_PERMITTED' }}
                            </div>
                            <div class="col-md-12" ng-hide="n.permitJoin === 'yes'">{{'JOINING_NOT_ALLOWED' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>