/* Kaba specific CSS */

h1.main-title {
    color: #5a5a5a;
    font-familiy: 'Morebi Rounded', sans-serif;
}

#logo-left {
    content: url('/custom/kaba-logo.gif');
    height: 59px;
}

header {
    margin-top: 10px;
}
#title {
    left: 242px;
    width: 100%;
    padding-right: 242px;
}

#title-bar {
    background: #e5e5e5;
    margin-right: 200px;
    border-radius: 0;
}

#logo-right {
    content: normal;
}

.logo {
    width: 238px;
    height: 60px;
}

.info-bar {
    background: #e5e5e5;
    border-radius: 0;
}

a.info-bar {
    color: #2e68a9;
}

.license {
    font-family: monospace;
}

h2.info {
    font-size: 24px;
}

h3.info {
    font-size: 18px;
}

img.sample {
    width: 90%;
}
