//
   Created by kc on 01.07.15.

.modal.fade(id="about" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h2(id='aboutLabel') {{'ABOUT' | translate}}&nbsp;
          span=title
      .modal-body
        if custom.aboutHtml
          // Custom Info Dialog
          !{custom.aboutHtml}
        else
          div
            // Nav tabs
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#info', aria-controls='home', role='tab', data-toggle='tab') {{'ABOUT.INFO' | translate}}
              li(role='presentation')
                a(href='#licence', aria-controls='profile', role='tab', data-toggle='tab') {{'ABOUT.LICENCE' | translate}}
            // Tab panes
            .tab-content
              #info.tab-pane.active(role='tabpanel')
                p {{'ABOUT.FREEWARE' | translate}}
                p {{'ABOUT.RAPID_IS_NEEDED' | translate }} {{'ABOUT.PLEASE_VISIT_BEFORE_URL' | translate}} &nbsp;
                  a(href='http://ancasicolica.github.io/ZigBeeSiteSurvey/' target='_blank') {{'ABOUT.PLEASE_VISIT_URL' | translate}}
                  | &nbsp;{{'ABOUT.PLEASE_VISIT_AFTER_URL' | translate}}
                div
                  | {{'ABOUT.THIRD_PARTY_NOTICE' | translate}}&nbsp;
                  a(href='http://behance.net/pedronieto93', title='Pedro Nieto Villamandos' target='_blank') Pedro Nieto Villamandos
                  |  {{'ABOUT.FROM' | translate}}&nbsp;
                  a(href='http://www.flaticon.com', title='Flaticon' target='_blank') www.flaticon.com
                  | &nbsp;{{'ABOUT.IS_LICENSED' | translate}}&nbsp;
                  a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0' target='_blank') CC 3.0

                h4 {{'ABOUT.TOOL_INFO' | translate}}
                table.table.table-condensed.table-info
                  tr
                    td {{'VERSION' | translate}}
                    td {{settings.version}}
                  tr
                    td {{'ABOUT.COM_PORT' | translate}}
                    td {{getConnectedSerialPort()}}
                  tr
                    td {{'ABOUT.USB_DONGLE' | translate}}
                    td {{usbDongle.applicationType}}
                  tr
                    td {{'ABOUT.HARDWARE' | translate}}
                    td {{usbDongle.hardware}}
                  tr
                    td {{'ABOUT.FIRMWARE' | translate}}
                    td {{usbDongle.version}}
                  tr
                    td {{'ABOUT.LEVEL_GOOD' | translate}}
                    td {{settings.levels.good}}
                  tr
                    td {{'ABOUT.LEVEL_POOR' | translate}}
                    td {{settings.levels.acceptable}}
                h4 GitHub Repository:
                p
                  a(href='http://ancasicolica.github.io/ZigBeeSiteSurvey/' target='_blank') http://ancasicolica.github.io/ZigBeeSiteSurvey/
              #licence.tab-pane(role='tabpanel')
                h2.info {{'ABOUT.LICENCE' | translate}}
                .licence
                  p The MIT License (MIT)
                  p Copyright (c) 2015 Christian Kuster, CH-8342 Wernetshausen
                  p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
                  p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
                  p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



  .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") close
