//
   Created by kc on 25.06.15.
extends layout
block content
  div(ng-app='surveyApp' ng-controller='surveyCtrl')
    include about
    .container(ng-hide='startingUp')
      .row(ng-hide='surveyReady')
        div(ng-hide='usbConnected')
          p
          .jumbotron
            h1=title
            p {{'PLEASE_INSERT_DONGLE' | translate}}
            p &nbsp;
            p
      .row(ng-show='surveyReady')
        .col-md-12.main-col
          header
            #logo-left
            #title
              #title-bar
                h1.main-title=title
            #logo-right
      .row(ng-show='surveyReady')
        div(ng-hide='usbConnected')
          .alert.alert-danger
            | {{'SCANNING_IS_DISABLED' | translate}}
        // Survey and network overview share one page
        div(ng-show='panel !== "survey"')
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#networks', aria-controls='networks', role='tab', data-toggle='tab' ng-click='enableWifiScan(false)') {{'ZIGBEE_NETWORKS_TAB' | translate}}
            li(role='presentation')
              a(href='#wifi', aria-controls='wifi', role='tab', data-toggle='tab' ng-click='enableWifiScan(true)') {{'WIFI_COEXISTENCE_TAB' | translate}}
          // Tab panes
          .tab-content
            // ZigBee networks
            #networks.tab-pane.active(role='tabpanel')
              p
                include networks
            // WiFi coexistence
            #wifi.tab-pane(role='tabpanel')
              p
                include wifi
        // Survey has complete page
        div(ng-show='panel==="survey"')
          include survey

      .row.no-print(ng-show='surveyReady')
        .col-md-12.info-bar
          | {{'VERSION' | translate}} {{settings.version}},&nbsp
          a.info-bar(href='#' data-toggle="modal" ng-click='refreshSettings()' data-target="#about")
            i.glyphicon.glyphicon-info-sign
            #help-and-info {{'HELP_AND_INFO' | translate}}
          #update-available(ng-show='isNewVersionAvailable()')
            i.fa.fa-exclamation-triangle
            #update-available-info {{'UPDATE_AVAILABLE' | translate}} : {{updateInfo.currentVersion}}
              a.info-bar(ng-href='{{updateInfo.downloadUrl}}' target='_blank')
                #update-get-here {{'UPDATE_GET_HERE' | translate}}


