//
   Created by kc on 25.06.15.
extends layout
block head
  link(rel='stylesheet', href='/css/survey.css',  type='text/css')
  script(src='/js/surveyctrl.js')

block content
  div(ng-app='surveyApp' ng-controller='surveyCtrl')
    include about
    .container
      .row
        .col-md-12
          h1.main-title ZigBee Site Survey Tool
            a.icon-close.no-print(href='#' data-toggle="modal" data-target="#about")
              i.glyphicon.glyphicon-info-sign
          div(ng-hide='isConnectedToSerialPort()')
            .alert.alert-danger
              | No RapidConnect USB dongle found, scanning is disabled!
          div(ng-show='panel==="networks"')
            include networks
          div(ng-show='panel==="survey"')
            include survey
