doctype html
html(lang='en')
  head
    title= title
    meta(name='keywords' content='ZigBee, SiteSurvey')
    meta(name='description' content='Site survey tool for ZigBee Networks')
    meta(charset='UTF-8')
    meta(name='author' content='Christian Kuster, CH-8342 Wernetshausen, www.kusti.ch')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="apple-touch-icon", sizes="57x57", href="/favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/favicon/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/favicon/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/favicon/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/favicon/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/favicon/manifest.json")
    link(rel="mask-icon", href="/favicon/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/favicon/favicon.ico")
    meta(name="apple-mobile-web-app-title", content="ZigBee Site Survey")
    meta(name="application-name", content="ZigBee Site Survey")
    meta(name="msapplication-TileColor", content="#2b5797")
    meta(name="msapplication-TileImage", content="/favicon/mstile-144x144.png")
    meta(name="msapplication-config", content="/favicon/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css',  type='text/css' )
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css',  type='text/css')
    link(rel='stylesheet', href='/css/c3.min.css',  type='text/css')
    link(rel='stylesheet', href='/css/survey.css',  type='text/css')
    link(rel='stylesheet', href='/css/font-awesome.min.css',  type='text/css')
    script(src='/js/moment.min.js')
    script(src='/js/jquery-1.11.3.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-sanitize.min.js')
    script(src='/js/ng-csv.min.js')
    script(src='/js/lodash.min.js')
    script(src='/js/d3.min.js')
    script(src='/js/c3.min.js')
    script(src='/js/surveyctrl.js')
    script(src='/socket.io/socket.io.js')
    block head
  body
    block content
