//
   Created by kc on 25.06.15.

div(ng-hide='networks.length')
  .alert.alert-warning
    |  Retrieving ZigBee networks, this takes only a few seconds... &nbsp;&nbsp;
    i.fa.fa-spinner.fa-spin
div(ng-show='networks.length')
  //
    p.found-networks Found {{networks.length}} ZigBee {{networks.length > 1 ? 'networks':'network'}}:
    table.table.table-striped
      thead
        th Extended PAN-ID
        th LQI
        th RSSI
        th PAN-ID
        th Channel
        th Joining permitted

      tbody
        tr(data-ng-repeat='n in networks')
          td
            a(href='#' ng-click='survey(n)')
              | {{n.extendedPanId}}
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          td {{n.lqi}}
          td
            .progress.progress-rssi
              .progress-bar(class='{{getRssiClass(n.rssi)}}' role='progressbar' aria-valuenow="{{n.rssi}}" aria-valuemin="-80" aria-valuemax="0" style="width: {{calculateRssiPercent(n.rssi)}}%;")
                span#sr-only {{n.rssi}} dB
          td {{n.panId}}
          td {{n.channel}}
          td {{n.permitJoin}}

div(ng-show='networks.length')
  .row
    .col-xs-12.col-sm-6.col-md-4.col-lg-4(data-ng-repeat='n in networks')
      .panel.panel-default
        .panel-heading
          h3.panel-title {{n.extendedPanId}}
        .panel-body
          .small-chart-area.wait-for-data(ng-hide='n.chartGenerated')
            i.fa.fa-spinner.fa-spin
          .small-chart-area(id='chart-{{n.id}}' ng-show='n.chartGenerated')
          .row
           .col-xs-6.col-sm-5.col-md-3 RSSI
           .col-xs-6.col-sm-7.col-md-9 {{n.rssi}}
          .row
            .col-xs-6.col-sm-5.col-md-3 LQI
            .col-xs-6.col-sm-7.col-md-9 {{n.lqi}}
          .row
            .col-xs-6.col-sm-5.col-md-3 Channel
            .col-xs-6.col-sm-7.col-md-9 {{n.channel}}
          .row
            .col-xs-6.col-sm-5.col-md-3 PAN-ID
            .col-xs-6.col-sm-7.col-md-9 {{n.panId}}
          .row
            .col-md-12 Joining {{n.permitJoin === 'yes' ? 'permitted' : 'not allowed'}}


// button.btn.btn-default.no-print(ng-click='getNetworks()' ng-disabled='networkScanActive') Scan networks
