//
   Created by kc on 25.06.15.

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title.network-title PAN {{currentNetwork.panId}} on Channel {{currentNetwork.channel}}
          a.icon-close.no-print(href='#' ng-click='closeSurvey()')
            i.glyphicon.glyphicon-remove
      .panel-body
        .row.no-print
          .col-md-2 RSSI
          .col-md-10
            .progress
              .progress-bar(class='{{getRssiClass(getLatestMeasurementEntry().rssi)}}' role='progressbar' aria-valuenow="{{getLatestMeasurementEntry().rssi}}" aria-valuemin="-130" aria-valuemax="0" style="width: {{getLatestMeasurementEntry().rssiPercent}}%;")
                span#sr-only {{getLatestMeasurementEntry().rssi}} dB
        .row.no-print
          .col-md-2 LQI
          .col-md-10
            .progress
              .progress-bar.lqi-bar(role='progressbar' aria-valuenow="{{getLatestMeasurementEntry().lqi}}" aria-valuemin="0" aria-valuemax="255" style="width: {{getLatestMeasurementEntry().lqiPercent}}%;")
                span#sr-only {{getLatestMeasurementEntry().lqi}}
        .row.no-print
          .col-md-12
            | Joining Permitted: {{getLatestMeasurementEntry().permitJoin}}
        .row
          .col-md-12.chart-area
            linechart(data='measurements' options='chartOptions' mode='' width='' height='')
        .row.no-print
          .col-md-10
            input.form-control(type='text' ng-model='currentLocation')
          .col-md-2
            button.btn.btn-default(type='button' ng-click='addLog()') Add log entry
        .row
          .col-md-12
            div(ng-show='log.length')
              table.table.table-striped
                thead
                  th ts
                  th Info
                  th LQI
                  th RSSI
                tbody
                  tr(data-ng-repeat='n in log')
                    td {{n.ts | date:'dd.MM.yyyy HH:mm:ss'}}
                    td {{n.info}}
                    td {{n.lqi}}
                    td {{n.rssi}}

    button.btn.btn-primary.no-print(onclick='javascript:window.print()') print
    p
      button.btn.btn-default.no-print(ng-click='toggleMeasurement()') {{getActionText()}}
    p
      button.btn.btn-default.no-print(type='button' ng-csv='measurements' field-separator=';' lazy-load='true' csv-label='true' filename='{{getFileNameForAllData()}}' ng-disabled='measurements.length < 3') Download all data as CSV
