// This is just a playground for testing graph functionality
   Created by kc on 19.11.15.
extends layout
block head
  script(src='/js/testctrl.js')
block content
  div(ng-app='testApp' ng-controller='testCtrl')
    .container
      .row
        .col-md-12
          h1 {{hello}}
          #chart-test
