@media print {
    .no-print, .no-print * {
        display : none !important;
    }
}

.network-title {
    position : relative;
}

.main-title {
    position: relative;
}
.icon-close {
    position : absolute;
    right    : 0px;
}
