@media print {
    .no-print, .no-print * {
        display : none !important;
    }
    .chart-area {
        width  : 95%;
        position: relative;
    }
}

@media screen {
    .chart-area {
        width  : 100%;
    }
}

.network-title {
    position : relative;
}

.main-title {
    position : relative;
}

.icon-close {
    position : absolute;
    right    : 0;
}

.found-networks {
    font-weight : bold;
}

.lqi-bar {
    background-image : linear-gradient(to bottom, steelblue 0, #6873f7 100%)
}

.progress-rssi {
    margin-bottom: 0;
}

.c3-region.region-acceptable {
    fill: yellow;
}
.c3-region.region-bad {
    fill: red;
}
.c3-region.region-good {
    fill: green;
}

path.c3-line-RSSI {
    stroke-width: 2px;
}

path.c3-line-LQI {
    stroke-width: 1px;
}

.rssi-color-tag {
    color: blue;
}
.lqi-color-tag {
    color: orange;
}
