@media print {
    .no-print, .no-print * {
        display : none !important;
    }
    .chart-area {
        width  : 100%;
        height : 400px;
        position: relative;
    }
}

@media screen {
    .chart-area {
        width  : 100%;
        height : 400px;
    }
}

.network-title {
    position : relative;
}

.main-title {
    position : relative;
}

.icon-close {
    position : absolute;
    right    : 0;
}

.found-networks {
    font-weight : bold;
}

.lqi-bar {
    background-image : linear-gradient(to bottom, steelblue 0, #6873f7 100%)
}

.progress-rssi {
    margin-bottom: 0;
}

