@media print {
    .no-print, .no-print * {
        display : none !important;
    }

    .chart-area {
        width    : 95%;
        position : relative;
    }
}

@media screen {
    .chart-area {
        width : 100%;
    }
}

.small-chart-area {
    width  : 100%;
    height : 200px;
}

/* Avoiding the flickering of the chart when loading */
svg{
    width: 100%;
}

.wait-for-data {
    text-align     : center;
    vertical-align : middle;
    font-size      : 64px;
    line-height    : 200px;
}

.network-title {
    position : relative;
}

h1.main-title {
    position      : relative;
    margin-top    : 0;
    margin-bottom : 0;
    padding-right : 10px;
    padding-left  : 10px;
    color         : white;
    display       : inline-block;
}

.main-col {
    padding-left  : 0;
    padding-right : 0;
}

.main-bar {
    background-color : #6d6d6d;
    margin-top       : 5px;
    margin-bottom    : 10px;
    margin-right     : 69px;
    padding-top      : 10px;
    padding-bottom   : 10px;
    border-radius    : 5px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+64,b5bdc8+100 */
    background: #28343b; /* Old browsers */
    background: -moz-linear-gradient(top,  #28343b 0%, #828c95 64%, #b5bdc8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #28343b 0%,#828c95 64%,#b5bdc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */

}

.logo {
    content        : url("/favicon/favicon-96x96.png");
    position       : absolute;
    right          : 0;
    height         : 59px;
    display        : inline-block;
    vertical-align : middle;
    align          : left;
    margin-top     : -10px;
    margin-right   : 0;
    margin-left    : 10px;
}

.info-bar {
    background-color : #828c95;
    margin-top       : 20px;
    margin-bottom    : 10px;
    padding-top      : 5px;
    padding-bottom   : 5px;
    border-radius    : 5px;
    color:white;
}
a.info-bar{
    color: #99c0ff;
}
.icon-close {
    position : absolute;
    right    : 0;
}

.wait-for-measurements {
    height: 400px;
}
.found-networks {
    font-weight : bold;
}

.progress-rssi {
    margin-bottom : 0;
}

.c3-region.region-acceptable {
    fill : yellow;
}

.c3-region.region-bad {
    fill : red;
}

.c3-region.region-good {
    fill : green;
}

path.c3-line-RSSI {
    stroke-width : 2px;
}

path.c3-line-LQI {
    stroke-width : 1px;
}

.rssi-color-tag {
    color : blue;
}

.lqi-color-tag {
    color : orange;
}

